.mt-18 {
	margin-top: 18px;
}
.ml-30 {
	margin-left: 30px;
}
.mt-13 {
	margin-top: 13px;
}
.ml-20 {
	margin-left: 20px;
}
.mb-37 {
	margin-bottom: 37px;
}
.mt-22 {
	margin-top: 22px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-34 {
	margin-top: 34px;
}
.mb-12 {
	margin-bottom: 12px;
}
.ml-12 {
	margin-left: 12px;
}

.mt-36 {
	margin-top: 36px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mt-32 {
	margin-top: 32px;
}
.mt-44 {
	margin-top: 44px;
}
.mb-34 {
	margin-bottom: 34px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-17 {
	margin-bottom: 17px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mt-28 {
	margin-top: 28px;
}
.mt-12 {
	margin-top: 12px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-26 {
	margin-top: 26px;
}
.mt-24 {
	margin-top: 24px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mb-26 {
	margin-bottom: 26px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-14 {
	margin-bottom: 14px;
}
.ml-10 {
	margin-left: 10px;
}
.mt-27 {
	margin-top: 27px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-28 {
	margin-bottom: 28px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mt-9 {
	margin-top: 9px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mt-6 {
	margin-top: 6px;
}
.mt-38 {
	margin-top: 38px;
}
.mt-17 {
	margin-top: 17px;
}
.ml-38 {
	margin-left: 38px;
}
