.pl-10 {
	padding-left: 10px;
}
.pr-10 {
	padding-right: 10px;
}
.pt-12 {
	padding-top: 12px;
}
.pt-22 {
	padding-top: 22px;
}
.pb-14 {
	padding-bottom: 14px;
}
.pb-22 {
	padding-bottom: 22px;
}
.pr-20 {
	padding-right: 20px;
}
.pl-14 {
	padding-left: 14px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-14 {
	padding-right: 14px;
}
.pt-65 {
	padding-top: 65px;
}
.pt-6 {
	padding-top: 6px;
}
.pb-6 {
	padding-bottom: 6px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pr-16 {
	padding-right: 16px;
}
.pl-16 {
	padding-left: 16px;
}
.pt-20 {
	padding-top: 20px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pt-74 {
	padding-top: 74px;
}
.pr-30 {
	padding-right: 30px;
}
.pl-12 {
	padding-left: 12px;
}
.pt-10 {
	padding-top: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pl-18 {
	padding-left: 18px;
}
.pr-18 {
	padding-right: 18px;
}
.pl-27 {
	padding-left: 27px;
}
.pt-30 {
	padding-top: 30px;
}
.pb-18 {
	padding-bottom: 18px;
}
.pl-68 {
	padding-left: 68px;
}
.pl-6 {
	padding-left: 6px;
}
.pr-68 {
	padding-right: 68px;
}
.pt-58 {
	padding-top: 58px;
}
.pr-12 {
	padding-right: 12px;
}
.pt-13 {
	padding-top: 13px;
}
.pb-13 {
	padding-bottom: 13px;
}
.pl-13 {
	padding-left: 13px;
}
.pr-13 {
	padding-right: 13px;
}
.pb-38 {
	padding-bottom: 38px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pl-15 {
	padding-left: 15px;
}

.pr-15 {
	padding-right: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-50 {
	padding-top: 50px;
}
.pl-30 {
	padding-left: 30px;
}
.pr-30 {
	padding-right: 30px;
}

.pt-14 {
	padding-top: 14px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pl-24 {
	padding-left: 24px;
}
.pr-24 {
	padding-right: 24px;
}
.pt-26 {
	padding-top: 26px;
}
.pl-22 {
	padding-left: 22px;
}
.pr-22 {
	padding-right: 22px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-24 {
	padding-top: 24px;
}
.pl-21 {
	padding-left: 21px;
}
.pt-90 {
	padding-top: 90px;
}
.pl-38 {
	padding-left: 38px;
}
.pr-38 {
	padding-right: 38px;
}
.pt-40 {
	padding-top: 40px;
}
.pl-46 {
	padding-left: 46px;
}
.pr-46 {
	padding-right: 46px;
}
.pl-34 {
	padding-left: 34px;
}
.pr-34 {
	padding-right: 34px;
}
.pl-5 {
	padding-left: 5px;
}
.pr-5 {
	padding-right: 5px;
}
.pr-28 {
	padding-right: 28px;
}
