.width-fit {
	width: fit-content;
}
.mt-auto {
	margin-top: auto;
}
.place-center {
	place-content: center;
}
.x-page-container {
	padding: 0 20px;
}
.grid {
	display: grid;
}
.pre-wrap {
	white-space: pre-wrap;
}
.sticky {
	position: sticky;
}
.pb-safe {
	padding-bottom: calc(constant(safe-area-inset-bottom));
	padding-bottom: calc(env(safe-area-inset-bottom));
}
.pb-tabbar {
	padding-bottom: 200rpx;
}
