.width-fit {
	width: fit-content;
}
.mt-auto {
	margin-top: auto;
}
.place-center {
	place-content: center;
}
.x-page-container {
	padding: 0 20px;
}
.grid {
	display: grid;
}
.pre-wrap {
	white-space: pre-wrap;
}